<h1 class="text-3xl text-center font-bold my-10"> Louer une voiture</h1>
<!--<div class="flex flex-wrap w-[90%] gap-4 mx-auto" *ngFor="let vehicule of vehicules">-->
<div class="flex flex-wrap w-[90%] gap-4 mx-auto">
  <app-card-vehicule *ngFor="let vehicule of vehicules" [modele]="vehicule.modele" [marque]="vehicule.marque" [prixjournalier]="vehicule.prixjournalier" [statut]="vehicule.statut"></app-card-vehicule>
<!--  <app-card-vehicule [modele]="C3" [marque]="" [prixjournalier]="vehicule.prixjournalier" [statut]="vehicule.statut"></app-card-vehicule>-->
</div>
